<ion-view title="Chemin le plus court" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="cheminLePlusCourt-list1">
      <ion-item class="well item-icon-left royal" id="cheminLePlusCourt-list-item5" ng-repeat="currentValue in asPath.output">
        <i ng-class="{'icon ion-ios-arrow-thin-up' : currentValue.move == 0, 
						'icon ion-ios-arrow-thin-left' : currentValue.move == 1, 
						'icon ion-ios-arrow-thin-right' : currentValue.move == 2, 
						'icon ion-ios-flag-outline' : currentValue.direcmovetion == 3}"></i>{{ currentValue.text }}</ion-item>
		
    </ion-list>
  </ion-content>
</ion-view>