<ion-view title="Où est ma salle?" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="ouEstMaSalle-form2" class="list">
      <div class="spacer" style="width: 300px; height: 46px;"></div>
	  
	  <div class="row">
		  <div class="item item-select item-icon-right col col-80" id="oEstMaSalle-input1">
			<span class="input-label">Départ</span>
			<!--input type="text" placeholder="Départ" ng-model="asHome.from" style="text-transform:uppercase" -->
			<select ng-model="asHome.from" ng-change="asHome.from">
				<option value="{{ currentValue }}"  ng-repeat="currentValue in asHome.nodes">{{ currentValue }}</option>
			</select>
		  </div>
		  <div class="col col-20">
			<button class="button button-small" ng-click="asHome.scan()">
				<img src="img/qr_icon.png" style="max-height: 34px;"/>
			</button>
		  </div>
		</div>
		
      <div class="spacer" style="height: 100px;"></div>
      
	  <label class="item item-select" id="oEstMaSalle-select1">
        <span class="input-label">Arrivée</span>
        <select ng-model="asHome.to" ng-change="asHome.to">
		  <option value="{{ currentValue }}"  ng-repeat="currentValue in asHome.nodes">{{ currentValue }}</option>  
        </select>
      </label>
    </form>
    <div class="spacer" style="height: 100px;"></div>
    <a ui-sref="cheminLePlusCourt({from: asHome.from, to: asHome.to})" id="ouEstMaSalle-button1" class="button button-balanced button-block">J'y vais!</a>
  </ion-content>
</ion-view>
